
/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --main-text-color: rgba(247, 240, 231, 0.856);
  --main-border-color: rgb(247, 247, 177);
}

body, html {
  height: 100%;
  font-family: 'Special Elite', cursive;
  scroll-behavior: smooth;
}

main{
  flex-direction: column;
}

.mainsection {
  text-align: center;
  flex-direction: column;
  color: var(--main-text-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.background {
  /* hero image for background */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/profilepic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  background-attachment: fixed;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  display: flex;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4rem;
}

p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.topTitle {
  text-shadow: 2px 2px 4px #000000;
  font-size: 2rem;
}

.topTitle > hr {
  width: 30%;
  color: var(--main-text-color);
}

li {
  list-style: none;
  padding: 0rem 1rem;
}

.iconBar {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: var(--main-text-color);
  margin: 0;
  padding: 0.75rem 0 0.5rem 0;
}

nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  color: var(--main-text-color);
  /* glass effect */
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.homeButton {
  font-size: 2rem;
  padding: 0.25rem 0 0.25rem 2rem;
  font-family: 'Caveat';
}

.fadeout {
  color: rgb(247, 240, 231, 0.8);
}

.seeMyWork {
  padding: 0 0 0.5rem 0;
  flex-direction: column;
  align-content: space-between;
}

.projectPanel {
  border: 1px black solid;
  grid-column: span 2;
  justify-content: center;
}

.projectImg {
  width: 75%
}

.projectSection{
  margin: 0 auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.sectionTwo{
  height: 100vh;
  align-items: center;
}