/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --main-text-color: rgba(247, 240, 231, 0.856);
  --main-border-color: rgb(247, 247, 177);
}

body,
html {
  height: 100%;
  font-family: "Special Elite", cursive;
  scroll-behavior: smooth;
}

main {
  flex-direction: column;
}

.mainsection {
  text-align: center;
  flex-direction: column;
  color: var(--main-text-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.background {
  /* hero image for background */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/assets/profilepic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  background-attachment: fixed;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  display: flex;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
}

.mainsection > p {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.mainsection > a {
  padding: 5rem 0 1rem 0;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.topTitle {
  text-shadow: 2px 2px 4px #000000;
  font-size: 1rem;
}

.topTitle > hr {
  width: 30%;
  color: var(--main-text-color);
}

li {
  list-style: none;
  padding: 0rem 1rem;
}

.iconBar {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: var(--main-text-color);
  margin: 0;
  padding: 0.75rem 0 0.5rem 0;
}

nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  color: var(--main-text-color);
  /* glass effect */
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.homeButton {
  font-size: 2rem;
  padding: 0.25rem 0 0.25rem 2rem;
  font-family: "Caveat";
}

.fadeout {
  color: rgb(247, 240, 231, 0.8);
}

.seeMyWork {
  padding: 0 0 0.5rem 0;
  flex-direction: column;
  align-content: space-between;
}

.projectPanel {
  grid-column: span 4;
  justify-content: center;
  position: relative;
}

.projectImg {
  width: 75%;
  opacity: 0.85;
}

.projectSection {
  padding: 3rem 0 0 0;
  margin: 0 auto;
  width: 100%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--main-text-color);
}

.sectionTwo {
  height: 100vh;
  align-items: center;
}

/* need to work out how to get 100% height on project panel */
.imgCaption {
  width: 75%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  color: var(--main-text-color);
}

.imgCaption > h1, p {
  padding: 0 1rem
}

.imgCaption > h1 {
  color: #00bfb6;
}

.imgCaption > p{
  color: var(--main-text-color);
}

.imgCaption:hover {
  opacity: 1;
}

/* tooltips */

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-text);
  position: absolute;

  /* vertically center */
  top: 0%;
  transform: translate(-33%,80%);

  /* basic styles */
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 1rem;

  display: none;
}

.tooltip:hover:before {
  display: block;
}
